<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>마이페이지</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
	crossorigin="anonymous"></script>
<link rel="stylesheet" th:href="@{/css/fragments/fragments.css}">
<link rel="stylesheet" th:href="@{/css/fragments/sidebar.css}">
<link rel="stylesheet" th:href="@{/css/mypage/mypage.css}">

</head>
<body>
	<div th:insert="~{fragments/header :: menuBar}"></div>
	<!-- <div th:insert="~{fragments/search :: searchSection}"></div>  -->
	<div class="mypage-layout-wrap container-fluid">
		<div class="row">
			<div class="mypage-sidebar-col">
				<div th:insert="~{fragments/sidebar :: guestSideBar}"></div>
			</div>

			<div class="mypage-content-col">
				<div class="mypage-content-area">
					<h1>내 위시리스트 폴더</h1>

					<div th:if="${!hasFolders}">
						<p>아직 좋아요 한 숙소가 없습니다. 😢</p>
					</div>

					<div th:if="${hasFolders}">
						<div th:each="folder : ${folders}"
							style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
							<a th:href="@{/mypage/wishList(folderIdx=${folder.idx})}">
								<h2 th:text="${folder.folderName}">폴더 이름</h2>
							</a>
							<p>
								생성일: <span
									th:text="${#temporals.format(folder.createdAt, 'yyyy-MM-dd')}">2023-01-01</span>
							</p>
							<p>
								총 저장된 숙소: <span th:text="${folderCounts.get(folder.idx)} ?: 0">0</span>개
							</p>
						</div>
					</div>

					<a href="/mypage">마이페이지로 돌아가기</a>
				</div>
			</div>
		</div>
	</div>


</body>
</html>